---
const stats = [
  {
    name: 'Años',
    value: '7',
  },
  {
    name: 'Cocineros',
    value: '5',
  },
  {
    name: 'Platillos',
    value: '30',
  },
  {
    name: 'Premios',
    value: '3',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="https://static.dezeen.com/uploads/2019/02/l28-culinary-platform-kimmel-eshkolot-architects-tel-aviv-interiors_dezeen_2364_col_14.jpg"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nuestra mision</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              En Tacos Inge, nuestra pasión es la comida auténtica de México. Nuestra misión es
              llevar a tus papilas gustativas en un emocionante viaje culinario a través de los
              sabores vibrantes y genuinos de la cocina mexicana. Nos enorgullece ser un faro de
              autenticidad en el mundo de los tacos, y trabajamos incansablemente para ser el
              destino favorito de quienes buscan experiencias gastronómicas inolvidables.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              En el corazón de nuestra misión está el compromiso con la calidad. Utilizamos solo los
              ingredientes más frescos y auténticos, desde las salsas caseras hasta las tortillas
              recién hechas a mano.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              En Tacos Inge, no solo te alimentamos, sino que también te invitamos a vivir la
              auténtica experiencia mexicana en cada bocado. Nuestro ambiente es cálido y acogedor,
              como el abrazo de un amigo en la plaza de un pueblo mexicano. Estamos aquí para
              compartir la riqueza de nuestra cultura culinaria y crear recuerdos inolvidables para
              cada comensal. Únete a nosotros en este viaje culinario único y delicioso mientras
              celebramos la pasión por la comida y la hospitalidad que caracteriza a México."
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
