---
const team = [
  {
    name: 'Cesarin',
    image: 'https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.18169-9/10868250_1595068984055609_639824997186395157_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGYHOiHRH0tcMOOscYDPYjMtrNy81OLh462s3LzU4uHjs6ZjV_e0nj1MS3DIJHC9ocdi8qzxp00oG18bFXsWlZi&_nc_ohc=fwnh7O5XwJwAX-fr2EK&_nc_ht=scontent.fgdl9-1.fna&oh=00_AfDDjqBRXoeNDUKpeUCFVmdJSqvxr-e8bDQiCB01MXvcZg&oe=6524A53B',
    job: 'Linux enjoyer',
  },
  {
    name: 'Aranza',
    image: 'https://i.kym-cdn.com/photos/images/original/002/417/178/59d',
    job: 'Hacker profesional',
  },
  {
    name: 'Shelby',
    image: 'https://www.si.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTk1MTkxMjUxMDgxODk3Njk4/221118084343-02-max-verstappen-family-abuse.jpg',
    job: 'Catador de alto nivel',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:space-8 space-y-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Conoce a nuestro equipo</h2>
      <ul role="list" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {
          team.map((item) => (
            <li class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border px-6 py-8">
              <div class="space-y-6">
                <img class="mx-auto h-auto w-16 rounded-full" src={item.image} alt={item.name} />
                <div class="text-center">
                  <h3 class="text-lg font-medium">{item.name}</h3>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">{item.job}</p>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
