---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Our privacy policy will help you understand what information is collected and how it is used."
  title="Politicas de privacidad"
>
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-20 lg:px-8">
    <div class="sm:pb:20 flex flex-col gap-4 pb-16 text-center">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl">Politica de privacidad</h1>
      <p class="text-base">Ultima versión: Septiembre 05, 2023</p>
    </div>
    <div>
      <p class="mb-4">
        Estamos comprometidos en resguardar tu privacidad. Esta Política de Privacidad detalla cómo
        recopilamos, usamos y protegemos tu información personal cuando utilizas nuestro [sitio
        web/aplicación/servicio]. Por favor, dedica un momento para leer este documento y comprender
        nuestras prácticas.
      </p>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">1. Información que Recopilamos</h2>
      <p class="mb-6">
        Podemos recolectar los siguientes tipos de información personal cuando interactúas con
        nuestro sitio web:
      </p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Información que proporcionas: Cuando te registras, creas una cuenta o utilizas ciertas
          características, es posible que te solicitemos tu nombre, dirección de correo electrónico,
          detalles de contacto y otra información relevante.
        </li>
        <li>
          Datos de uso: Podemos recopilar datos sobre cómo utilizas nuestro sitio web, incluyendo,
          pero sin limitarse a, tu dirección IP, tipo de navegador, información del dispositivo,
          páginas visitadas e interacciones con el contenido.
        </li>
        <li>
          Cookies y tecnologías similares: Utilizamos cookies y tecnologías similares para mejorar
          tu experiencia, entender patrones de uso y mejorar nuestro sitio web.
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">2. Como Utilizamos tu Información</h2>
      <p class="mb-4">Podemos utilizar tu información personal para los siguientes propósitos:</p>
      <ul class="list-inside list-disc space-y-4">
        <li>
          Proveer y mejorar nuestro sitio web: Tu información nos ayuda a ofrecer una experiencia
          personalizada y amigable para el usuario.
        </li>
        <li>
          Comunicación: Podemos usar tu dirección de correo electrónico o detalles de contacto para
          enviarte actualizaciones importantes, boletines y contenido promocional. Puedes optar por
          no recibir estas comunicaciones en cualquier momento.
        </li>
        <li>
          Análisis: Utilizamos datos agregados y anonimizados para analizar el comportamiento del
          usuario y mejorar nuestro [sitio web/aplicación/servicio].
        </li>
      </ul>
      <h2 class="mb-6 mt-12 text-xl font-medium sm:text-2xl">Contáctanos</h2>
      <p class="mb-4">
        Si tienes alguna pregunta o inquietud acerca de nuestra Política de Privacidad, por favor
        contáctanos a través.
      </p>
    </div>
  </div>
</Layout>
